
/* ------------------- Google font--------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* ------------------- Browser reset code --------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,html{
    height: 100%;
    background: var(--dark-color);
}

/* ------------------- variable for style --------------------- */

:root{
    --primary-color:#00ff92;
    --dark-color:#222222d6;
    --light-color:#f0f0f0;
}

