
/* ------------------- Google font--------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* ------------------- Browser reset code --------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,html{
    height: 100%;
    background: var(--dark-color);
}

/* ------------------- variable for style --------------------- */

:root{
    --primary-color:#D58BDD;
    --dark-color:#222222d6;
    --light-color:#f0f0f0;
}




/* -------------------main.js style --------------------- */

.container{
    display: block;
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding-top: 4%;
    
}
.title{
    text-align: center;
    color: antiquewhite;
    /* margin-top: 3%; */
    font-weight: 500;
    font-size: 20px;
    padding: 15px 0;
    background-color: black;

}
.container ol{
    padding: 3rem 0 1rem 1.5rem;

}
.container ol li{
    font-size: 1.1em;
    color: #cecece;
    
}

.start{
    display: flex;
    justify-content: center;
    padding-top: 2em;

}

.start .btn{
    padding: .4em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1em;
    color: #202020;
    text-decoration: none;
    background-color: khaki;
}

#form{
    display: flex;
    justify-content: center;
    margin-top: 3em;

}

 .userid{
    padding: .7em 1em;
    width: 40%;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    background-color: #cecece;
    
}

input::placeholder{
    color: black;
}



/* ------------------- quiz component  style --------------------- */
.grid{
    display: flex;
    justify-content: space-between;
    
}

.prev{
    padding: .4em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1em;
    color: #202020;
    text-decoration: none;
    background-color: khaki;

}
.next{
    padding: .4em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1em;
    color: black;
    text-decoration: none;
    background-color: var(--primary-color);

}


/* ------------------- question component  style --------------------- */


.questions{
    margin: 2rem 0 4rem 1.5rem;
}
.q-list{
    list-style: none;
}
.q-list li{
    margin-left: 1rem;
    margin-top: 1rem;
}
.questions__heading{
    color: var(--light-color);
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 2rem;
}
.q-option{
    color: var(--light-color);
    padding: 1rem .5rem;
}
input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1a1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #893292;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}
input[type='radio']:checked ~ .q-option{
    color: var(--primary-color)!important;
}



/* ------------------- media query  style --------------------- */

@media (max-width:768px){
    .userid{
        width: 80%; 
    }
    .container ol{
        margin: 0 1rem;
    }

}